<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>MLB Player Origins</title>

    <!-- Favicon -->
    <link href="../static/src/assets/baseball-favicon.ico" rel="icon" type="image/x-icon" />

    
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Playball|Source+Serif+Pro&display=swap" rel="stylesheet">

  </head>
  <body>



<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end sticky-top">
      <!-- <a class="navbar-brand" href="index.html"><img src="templates/logo.png" alt="logo"></a> -->
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='src/assets/logo.png') }}" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" 
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Centers nav-items -->
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">About</a>
          </li> 
          <li class="nav-item">
            <a href="/#section-birthmap" class="nav-link">Player Birth Map</a>
          </li>
          <li class="nav-item">
            <a href="/#section-deathmap" class="nav-link">Player Death Map</a>
          </li>
          <li class="nav-item">
            <a href="/#section-chart" class="nav-link">Player Chart</a>
          </li>
          <li class="nav-item">
              <a href="/sources" class="nav-link">Sources</a>
            </li>
        </ul>
      </div>
    </nav>
  


<!--- INTRODUCTION JUMBOTRON -->
    <div class="section-1" id="section-1">
      <div class="container-fluid jumbotron padding">
        <div class="row welcome text-center padding">
          <div class="col-12">
            <p class="lead">This map shows the locations of every player's recorded deathplace.</p>
          </div>
        </div>
      </div>
    </div>

<!-- PLAYER DEATH MAP -->
  <div class="section-deathmap" id="section-deathmap">
    <div id="map-holder">
      <div class="container padding">
        <div class="row justify-content-center padding">
          <h1>Player Death Map</h1>   
          <div id="map2"></div>
        </div>
      </div>
    </div>
  </div>

<!-- FOOTER -->
  <div class="section-footer" id="section-footer">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-12">
          <footer>
            <div class="footer">Copyright &copy; Baseball Group 2019</div>
          </footer>
        </div>
      </div>
    </div>
  </div>

<!-- CODE FOR LOADING CONTENT AS VIEWER SCROLLS DOWN PAGE -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
      window.sr = ScrollReveal({ duration : 1000 });
      sr.reveal('.section-1');
      sr.reveal('.section-deathmap');      
      sr.reveal('.section-chart');
      sr.reveal('.section-footer');
    </script>

<!-- Javascript -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet_head.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logic2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotss.js') }}"></script>
  </body>
</html>
