<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>MLB Player Origins</title>

    <!-- Favicon -->
    <link href="../static/src/assets/baseball-favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Playball|Source+Serif+Pro&display=swap" rel="stylesheet">

  </head>
  <body>



<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end sticky-top">
      <!-- <a class="navbar-brand" href="index.html"><img src="templates/logo.png" alt="logo"></a> -->
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='src/assets/logo.png') }}" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" 
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Centers nav-items -->
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">About</a>
          </li> 
          <li class="nav-item">
            <a href="/#map-placement" class="nav-link">Player Birth Map</a>
          </li>
          <li class="nav-item">
            <a href="/#section-deathmap" class="nav-link">Player Death Map</a>
          </li>
          <li class="nav-item">
            <a href="/#section-chart" class="nav-link">Player Chart</a>
          </li>
          <li class="nav-item">
              <a href="/sources" class="nav-link">Sources</a>
            </li>
        </ul>
      </div>
    </nav>


<!--- Sources -->
    <div class="container-fluid jumbotron padding">
      <div class="row welcome text-center padding" id="sources">
        <div class="col-12">
          <h1 class="display-4">Sources</h1> 
        </div>  
        <div class="col-12">
          <p class="lead">MLB Logo: <a href="https://www.mlb.com/">MLB</a></p>
        </div>
        <div class="col-12">
          <p class="lead">MLB Data: <a href="http://www.seanlahman.com/baseball-archive/statistics/">Sean Lahman’s Database</a></p>
        </div>
        <div class="col-12">
          <p class="lead">Country Flag Images: <a href="https://en.m.wikipedia.org/wiki/Gallery_of_sovereign_state_flags">Wikipedia</a></p>
        </div>
      </div>
    </div>



<!-- CODE FOR LOADING CONTENT AS VIEWER SCROLLS DOWN PAGE -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script>
      window.sr = ScrollReveal({ duration : 1000 });
      sr.reveal('.section-1');
      sr.reveal('.section-birthmap');
      sr.reveal('.section-deathmap');      
      sr.reveal('.section-pie');
      sr.reveal('.section-footer');
    </script>


  </body>
</html>