@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Style Overall Webpage --*/
html, body {
  height: 100%;
  width: 100%;
  /* taken from @import link above, back up font is sans-serif */
  font-family: 'Poppins', sans-serif;
  /* give font a color, 222 slightly softer than black */
  color: #000000;
}
/* referencing all the padding form HTML file */
.padding {
  padding-bottom: 2rem;
}


img {
  height: 300px;
  width: 500px;
}

p .lead {
  font-size: 10px;
}




/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/