@import url('https://fonts.googleapis.com/css?family=Lobster|Playball|Source+Serif+Pro&display=swap');
/* font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
font-family: 'Source Serif Pro', serif; */


html, body
{
    height: 100%;
    background-image: url('../src/assets/background.png')
}


/* NAVBAR */
.navbar-brand img{
  height: 70px;
  width: 350px;
  float: left;
}
.navbar-brand {
  font-family: 'Source Serif Pro', serif;
  font-size: 35px;
  color: rgb(205, 0, 1) !important;
  transition: all 0.5s ease-in
}
.navbar-brand:hover {
  color: rgb(0, 0, 85) !important;
}
.nav-link {
  font-size: 16px;
  margin: 15px;
  color: rgb(0, 0, 85) !important;
  font-family: 'Source Serif Pro', serif;
  transition: all 0.5s ease-in;
}
.nav-link:hover {
  color: rgb(205, 0, 1) !important;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-toggler {
  margin-right: 30px;
  background-color: white;
}
.navbar {
  margin-bottom: 1%;
}
.bg-light {
  background-color: #ffffff !important;
}


.container {
    max-width:60em;
    padding: 0.2em;
}
.jumbotron {
  width: 80%;
  background: #ffffff;
  /* condenses jumbotron */
  padding: 1rem;
}
.welcome {
  /* condenses welcome row */
  width: 100%;
  /* centers welcome row */
  margin: 0 auto;
  padding-top: 2rem;
  font-family: 'Lobster', cursive;
  color: rgb(0, 0, 85);
  text-align: center;
  font-size: 2.1em !important;
  font-weight: 500;
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}
/* stylizes horizontal line */
.welcome hr {
  border-top: 2px solid #8f8f8f;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.welcome img {
  height: 75px;
  width: 100px;
}
.lead {
  font-family: 'Source Serif Pro', serif;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
}

/* Player Birth Map */
.container h1 {
  align-items: center;
  font-family: 'Lobster', cursive;
  color: rgb(0, 0, 85);
  font-size: 350%;
  /* vertical, horizontal, width, color of shadow */
  text-shadow: 1px 1px 15px rgb(255, 255, 255);
  margin-bottom: 1rem;
}


#map {
    width: 120px;
    height: 700px;
    min-height: 100%;
    min-width: 100%;
    display: block;
    border: solid;
    border-color: whitesmoke;
}
#map-holder {
    height: 100%;
}
.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}




 /*--- Bootstrap Padding Fix --*/
 [class*="col-"] {
  padding: 1rem;
}